*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.dex
.kotlin
/aurafx-sample/release
/aurafx-sdk/release
*.log
.android
.cxx
*.hprof
aurafx-android-studio.zip
